@import 'variables'

html
  body
    width: 100%
    height: 100%
    margin: 0
    background-color: $color-black
    font-family: 'Press Start 2P', cursive
    font-size: 10px
    letter-spacing: 2px
    button
      cursor: pointer
      border: none
      border-radius: 4px
      padding: 5px
      outline: none
      margin-right: 5px
    #score
      max-width: 200px
      background-color: $color-black
      color: $color-white
      margin-top: 25px
      padding-top: 10px
      height: 25px
      margin-left: auto
      margin-right: auto
      text-align: center
    #board
      display: flex
      justify-content: center
      align-items: flex-start
      flex-wrap: wrap
      margin-left: auto
      margin-right: auto
      border-radius: 10px
      canvas
        border: 3px double $color-violet
        margin-left: auto
        margin-right: auto
        //@media (max-width: 768px)
          //width: 80%
    .control
      display: flex
      justify-content: center
      align-items: flex-start
      flex-wrap: wrap
      margin-top: 10px
      #pause
        margin-top: 10px
        color: $color-white
        background-color: $color-red
        &:hover
          background-color: #b30101
          border: 1px solid #7b0101
      #restart
        margin-top: 10px
        color: $color-black
        background-color: $color-yellow
        &:hover
          background-color: #afaf03
          border: 1px solid #6b4a03
      .key
        button
          color: white
          background-color: #139e00
          width: 40px
          height: 30px
          &:hover
            background-color: #0f7302